# {{ collection_name }} / {{ role.name }} 
{{ role.description }}  
  
{% if role.supports_multi %}Note : This role supports multi / looping{% endif %}

{% if role.filters | length > 0 %}
## Custom Filters

| Filter Plugin | Description | Version History |
| :----- | :---------- | :-------------- |
{% for f in role.filters %}| {{ f.name }} | {{ f.description | default('No description') }} | {{ f.version_history | default('No version history') }} |
{% endfor %}
{% endif %}

{% if role.modules | length > 0 %}
## Custom Modules

| Module | Description | Version History |
| :----- | :---------- | :-------------- |
{% for module in role.modules %}| {{ module.name }} | {{ module.description | default('No description') }} | {{ module.version_history | default('No version history') }} |
{% endfor %}
{% endif %}

## Role actions/qtasks

| Subrole | Description |
| :------ | :---------- |
{% for qtask in role.qtasks %}| [{{ qtask.name }}](#{{ qtask.link }}) | {{ qtask.description | default('') }} |
{% endfor %}


{% for qtask in role.qtasks%}
## {{ role.name }} / {{ qtask.name }}
{{ qtask.description }}

| Task |
| :--- |
{% for task in qtask.tasks %}| {{ task.name }} |
{% endfor %}

{% endfor %}


