---
# this is a default file for credentials, perfect for testing
# you should inject credentials via a secure method
ontap:
  user: admin
  password: "*******"
ad:
  user: administrator
  password: "********"
vcenter:
  host: vcenter.domain.local
  user: administrator@vsphere.local
  password: "*********"
aiqum:
  host: x.x.x.x
  user: admin
  password: "********"