# ==============================================================================
# META DATA - to help make logical decisions or naming conventions
# ==============================================================================

meta:
  volume_style: "{{ ansibleVolStyle | default('MIX') }}"                # MIX, SMB, NFS
  volume_dr: "{{ ansibleVolDR | default(none) }}"                       # '0', '1', '2', '9'
  service_level: "{{ ansibleSerLev | default(none) }}"                  # 'S1', 'M1', ...

# ==============================================================================
# PRIMARY ENVIRONMENT
# ==============================================================================

primary: 
  cluster: &primary_cluster
    management_ip: "{{ ansibleHost | default(none) }}"
    name: "{{ ansibleHostName | default(none) }}"
  svm: &primary_svm
    name: "{{ ansibleVserver | default(none) }}"
  volume: &primary_volume
    name: &primary_volume_name "{{ ansiblePrimaryVol | default(none) }}" 
  export_policy: 
    name:                 "{{ ansibleVolSnapPol | default('none') }}"
  cmdb:
    sql_insert: "{{ ansibleSqlInsert | default(none) }}"

# ==============================================================================
# BACKUP LOCAL ENVIRONMENT
# ==============================================================================

backup_local:
  cluster: &backup_local_cluster
    management_ip: "{{ ansibleHostBL | default(none) }}"
    name: "{{ ansibleHostBLName | default(none) }}"
  svm: 
    name: "" # added in logic script
  volume: &backup_local_volume
    <<: *primary_volume                                     # inherit from primary
    name: "" # added in logic script
    volume_autosize:
      mode: off
    tiering_policy:
      name: all
  cmdb:
    sql_insert: "{{ ansibleSqlInsert }}"
  snapmirror:
    source: &snapmirror_source
      cluster: *primary_cluster
      svm: *primary_svm
      volume: 
        name: *primary_volume_name
    destination:
      cluster: *backup_local_cluster
      svm: 
        name: "" # added in logic script
      volume:
        name: "" # added in logic script

# ==============================================================================
# BACKUP REMOTE ENVIRONMENT
# ==============================================================================

backup_remote:
  cluster: &backup_remote_cluster
    management_ip: "{{ ansibleHostBR | default(none) }}"
    name: "{{ ansibleHostBRName | default(none) }}"
  svm: 
    name: "" # added in logic script
  volume:
    <<: *backup_local_volume                                              # inherit from backup_local
    name: "" # added in logic script
  cmdb:
    sql_insert: "{{ ansibleSqlInsert | default(none) }}"
  snapmirror:
    source:
      <<: *snapmirror_source
    destination:
      cluster: *backup_remote_cluster
      svm: 
        name: "" # added in logic script
      volume:
        name: "" # added in logic script

# ==============================================================================
# ADPE ENVIRONMENT
# ==============================================================================

adpe:
  cluster: &adpe_cluster
    management_ip: "{{ ansibleHostAP | default(none) }}"
    name: "{{ ansibleHostAPName | default(none) }}"
  svm: 
    name: "" # added in logic script
  volume:
    <<: *backup_local_volume                                       # inherit from backup_local
    name: "" # added in logic script
  cmdb:
    sql_insert: "{{ ansibleSqlInsert | default(none) }}"
  snapmirror:
    source:
      <<: *snapmirror_source
    destination:
      cluster: *adpe_cluster
      svm: 
        name: "" # added in logic script
      volume:
        name: "" # added in logic script
