# ==============================================================================
# PRIMARY ENVIRONMENT
# ==============================================================================

primary: 
  cluster: &primary_cluster
    management_ip: "{{ ansibleHost | default(none) }}"
    name: "{{ ansibleHostName | default(none) }}"
  svm: &primary_svm
    name: "{{ ansibleVserver | default(none) }}"
  volume: &primary_volume
    name: &primary_volume_name "{{ ansiblePrimaryVol | default(none) }}" 
  qtree: &primary_qtree
    name: "{{ ansibleQTree | default(none) }}"
    export_policy: "{{ ansiblePol | default(none) }}"
  quota:
    disk_limit: "{{ ansibleQuDisk | default(none) }}"
    file_limit: "{{ ansibleQuFile | default(none) }}"
    soft_disk_limit: "{{ ansibleQuSoftDisk | default(none) }}"
    soft_file_limit: "{{ ansibleQuSoftFile | default(none) }}"
