# ==============================================================================
# META DATA - to help make logical decisions or naming conventions
# ==============================================================================

meta:
  volume_style: "{{ ansibleVolStyle | default('MIX') }}"                # MIX, SMB, NFS
  volume_dr: "{{ ansibleVolDR | default(none) }}"                       # '0', '1', '2', '9'
  service_level: "{{ ansibleSerLev | default(none) }}"                  # 'S1', 'M1', ...

# ==============================================================================
# PRIMARY ENVIRONMENT
# ==============================================================================

primary: 
  cluster: &primary_cluster
    management_ip: "{{ ansibleHost | default(none) }}"
    name: "{{ ansibleHostName | default(none) }}"
  svm: &primary_svm
    name: "{{ ansibleVserver | default(none) }}"
  export_policy: 
    name: "{{ ansiblePol | default(none) }}"
    rules:
    - client_match: "{{ ansibleCliMatch | default('0.0.0.0/0') }}"
      rule_index: "{{ ansibleRuleId | default(1) }}"
      ro_rule: "{{ ansibleRoRule | default('any') }}"
      rw_rule: "{{ ansibleRwRule | default('any') }}"
      protocol: "nfs,nfs3,nfs4"
      super_user_security: "{{ ansibleSuperUserSec | default('any') }}"
      allow_suid: true
      state: absent


# ==============================================================================
# BACKUP LOCAL ENVIRONMENT
# ==============================================================================

backup_local:
  cluster: &backup_local_cluster
    management_ip: "{{ ansibleHostBL | default(none) }}"
    name: "{{ ansibleHostBLName | default(none) }}"
  svm: 
    name: "" # added in logic script
  volume:
    name: "" # added in logic script
  export_policy: &backup_local_export_policy
    name: "{{ ansiblePol | default(none) }}"
    rules:
    - client_match: "{{ ansibleCliMatch | default('0.0.0.0/0') }}"
      rule_index: "{{ ansibleRuleId | int + 4 }}"
      ro_rule: "{{ ansibleRoRule | default('any') }}"
      rw_rule: "{{ ansibleRwRule | default('any') }}"
      protocol: "nfs,nfs3,nfs4"
      super_user_security: "{{ ansibleSuperUserSec | default('any') }}"
      allow_suid: true
      state: absent

# ==============================================================================
# BACKUP REMOTE ENVIRONMENT
# ==============================================================================

backup_remote:
  cluster: &backup_remote_cluster
    management_ip: "{{ ansibleHostBR | default(none) }}"
    name: "{{ ansibleHostBRName | default(none) }}"
  svm: 
    name: "" # added in logic script
  volume:
    name: "" # added in logic script
  export_policy:
    <<: *backup_local_export_policy

# ==============================================================================
# ADPE ENVIRONMENT
# ==============================================================================

adpe:
  cluster: &adpe_cluster
    management_ip: "{{ ansibleHostAP | default(none) }}"
    name: "{{ ansibleHostAPName | default(none) }}"
  svm: 
    name: "" # added in logic script
  volume:
    name: "" # added in logic script
  export_policy:
    <<: *backup_local_export_policy