---
# unfortunately, ansible doesn't allow looping roles
# so we have a local tasks "{{ action }}_one" which includes facts & {{ action }} of the {{ role_name }} role
# hence we can {{ action }} multiple {{ role_name }}s in a loop

# - debug: var=qtask_child

- name: {{ action }} multiple {{ role_name }}s
  include_tasks: "{{ action }}_one.yml" 
  loop_control:
    loop_var: {{ role_name }}_item
    label: "Creating {{ role_name }} {|{ {{ role_name }}_item.name }|}"
  loop: "{|{ {{ role_name }}s }|}"
