---

## Naming facts
- name: Merge Extravars
  ansible.builtin.set_fact:
    {{ role_name }}s : "{|{ '{{ role_name }}s' | merge_lists(d=vars_defaults,t=vars_templates,v=vars_local,required_keys=['name'],c=qtask_child) }|}"

